*                                       { margin: 0; padding: 0; }
.anythingSlider ul                      { margin: 0 0 25px 25px; }
.anythingSlider ul li                   { font: 15px Georgia, Serif; margin: 0 0 8px 0; }
.anythingSlider img						{ margin:0; padding:0}

.anythingSlider                         { width: 987px; height: 302px; position: relative; margin: 0 auto; }
.anythingSlider .wrapper                { width: 987px; overflow: auto; height: 302px; margin: 0; position: absolute; top: 0; left: 0; }

                                       /* Width below is max for Opera */
.anythingSlider .wrapper ul             { width: 32700px; list-style: none; position: absolute; top: 0; left: 0; background: #eee; border-top: 0px solid #e0a213; border-bottom: 0px solid #e0a213; margin: 0; }
.anythingSlider ul li                   { display: block; float: left; padding: 0; height: 302px; width: 987px; margin: 0; }
.anythingSlider .arrow                  { display: block; height: 35px; width: 35px;text-indent: -9999px; position: absolute; top: 20px; cursor: pointer; }
.anythingSlider .forward                { background: url(../ImagesNew/right.png) no-repeat left top; right:20px;  }
.anythingSlider .back                   {  background: url(../ImagesNew/left.png) no-repeat left top; right:70px; }
/*.anythingSlider .forward:hover          { background-position: 0 -200px; }
.anythingSlider .back:hover             { background-position: -67px -200px; }*/

#thumbNav                               { position: relative; top: 323px; text-align: center; display:none; }
#thumbNav a                             { color: black; font: 11px/18px Georgia, Serif; display: inline-block; padding: 2px 8px; height: 18px; margin: 0 5px 0 0; background: #c58b04 url(../ImagesNew/cellshade.png) repeat-x; text-align: center; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; }
#thumbNav a:hover                       { background-image: none; }
#thumbNav a.cur                         { background: #e0a213; }

#start-stop                             { background: green; background-image: url(../ImagesNew/cellshade.png); background-repeat: repeat-x; color: white; padding: 2px 5px; width: 40px; text-align: center; position: absolute; right: 45px; top: 323px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-right-radius: 5px; -webkit-border-bottom-left-radius: 5px; display:none; }
#start-stop.playing                     { background-color: red; }
#start-stop:hover                       { background-image: none; }

/*
  Prevents
*/
.anythingSlider .wrapper ul ul          { position: static; margin: 0; background: none; overflow: visible; width: auto; border: 0; }
.anythingSlider .wrapper ul ul li       { float: none; height: auto; width: auto; background: none; }